.page {
  max-width: 1280px;
  height: 100%;
  background-color: #2A2C2F;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

