.header__links {
  display: flex;
  margin-right: 48px;
  color: #FFFFFF;
  list-style-type: none;
} 
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__links {
    margin-right: 24px;
  }
}  
@media screen and (max-width: 767px) {
  .header__links {
    margin-right: 16px;
    margin-bottom: 8px;
  }
}