.place__image {
  display: block;
  max-width: 460px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-height: 340px;
  }
}

@media screen and (max-width: 763px) {
  .place__image {
    min-height: unset;
    margin: 32px auto;
  }
}
