.header {
    display: flex;
    justify-content: space-between;
    background-color: #2A2C2F;
    align-items: flex-end;
    padding: 28px 0 0;
  }

  @media screen and (max-width: 767px) {
  
    .header {
      padding: 16px 0 0;
    }
  }