.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  grid-auto-rows: min-content;
}


@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
  }
}