.cover__background {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url("../../../images/cover-trains.jpg");
  color: white;
  text-decoration: none;
  background-size: cover;
  min-width: 100%;
  min-height: 46.25rem;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.cover__background::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .3;
  transition: opacity .2s linear;
}

.cover__background:hover::after {
  opacity: .8;
}

@media screen and (max-width: 1025px) {
  .cover__background {
    min-height: 62.5vw;
  }
}