.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, max-content);
  gap: 48px 40px;
  justify-items: stretch;
  align-items: stretch;
  padding-bottom: 80px;
}  
.place:last-child {
  padding-bottom: 0;
}
@media screen and (max-width: 1279px) {
  .place {
    column-gap: 32px;
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, max-content);
  }
}
@media screen and (max-width: 1023px) {
  .place {
    column-gap: 28px;
    padding-bottom: 73px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, max-content);
  }
}
@media screen and (max-width: 767px) {
  .place {
    padding-bottom: 50px;
    grid-template-columns: minmax(min-content, max-content);
  }
}