.footer {
  padding: 92px 48px 24px;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 24px 16px;
  }
}

@media screen and (max-width: 766px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 16px;
  }
}