.intro__title {
  width: 100%;
  height: auto;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  list-style-type: none;
  object-fit: cover;
}
@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}